$number1: 100px;
$number2: $number1 * 2;
$color: red;
$list: 1px solid black;
$string: 'string';
$boolean: true;
$null: null;
$map: (
  number: 2em,
  string: 'mapstring'
);
$palette: (
  white: (
    base: (color: #fff, contrast: #2b2b2b)
  ),
  black: (
    base: (color: #111, contrast: #fff),
    dark: (color: #000, contrast: #fff)
  )
) !default;
